<div class="big-card">
    <a href="#"><img class="card-img-top" src="https://images.moneycontrol.com/static-mcnews/2020/08/wall-street-1-770x433.jpg" alt="Card image"></a>
    <div class="card-body">
      <h3 class="card-title"><a href="#">Indexes end lower as Tesla drops, rate cut timing weighed</a></h3>
      <p class="card-text">Tesla's stock dropped 4.9%, one of the biggest drags on the S&amp;P 500 and Nasdaq.</p>
      <span>by Reuters</span>
    </div>
    <a href="#">Learn More</a>
</div>
